    <div>
        <div class="center">
            <div>{{ titlePage }}</div>
        </div>
        <div class="split">
            <div>
                <p>Number of entries</p>
                <p>{{ totalEntries }}</p>
            </div>
            <div>
                <p>Total Number of medals</p>
                <p>{{ totalMedals }}</p>
            </div>
            <div>
                <p>Total Number of athletes</p>
                <p>{{ totalAthletes }}</p>
            </div>
        </div>
    </div>