.split {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    margin: 5px;

    div {
        padding: 10px;
        border: solid #0b868f 2px;
        border-radius: 10px;
        color: gray;
        margin: 0px;

        p {
            text-align: center;
            margin: 0;
        }

        p:last-child {
            font-weight: bold;
            color: black;
        }
    }
}


@media screen and (max-width: 769px) {
    .center {
        div {
            padding: 10px;
            font-size: 16px;
        }
    }
    .split {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        div{
            padding: 5px;
        }
    }

}